@charset "UTF-8";


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Darker Grotesque";
    height: 100%;
    font-size: 18px;
    position: absolute;
    left: 6%;
    right: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00aaff;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.col2{
    width: 48%;
    margin: 5px;
}

button {
    border: 1px solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
}

button:hover {
    transform: translateY(-2px);
}

button :disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button-37 {
    background-color: #13aa52;
    width: 320px;
}

.button-38 {
    background-color: red;
    width: 320px;
}

.book a:link {
  color: red;
}
.book a:visited {
  color: red;
}
.book a:hover {
  color: green;
}
    
* {
  box-sizing: border-box;
}





@media screen and (max-width: 768px) {

    body {
        left: 6px;
        right: 6px;
    }

    .navbar {
      padding: 0px;
    }

    .logo {
      display: none;
    }

    .nav-links li {
      margin: 0 5px;
    }


        
}
